{% extends "layout.html" %}
{% block content %}
    {% for cars in current_user.cars %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ url_for('static', filename='car_pics/' + cars.image_file)}}">
          <div class="media-body">
            <div class="article-metadata">
              <a class="mr-2" href="#">{{ cars.fuel }}</a>
              <small class="text-muted">{{ cars.matriculation.strftime('%Y-%m-%d') }}</small>
            </div>
            <h2><a class="article-title" href="{{ url_for('cars.car', car_id=cars.id) }}">{{ cars.name }}</a></h2>
          </div>
        </article>
    {% endfor %}
{% endblock content %}